<div class="page-header">
  <%= link_to "Add a New Deals", "/deals/new", :class => "btn btn-md btn-success pull-right" %>
  <h1>

    <small>Displaying <%= @deal_list.count %> deals.</small>
  </h1>
</div>

<div class="row">
                <div class="col-md-1">
                  <a> Photo </a>
                </div>
                <div class="col-md-6">
                  <a> Deals </a>
                </div>
                <div class="col-md-3">
                  <a> Posted Date </a>
                </div>
                <div class="col-md-2">
                  <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-down"></i>
                </div>

</div>

<% @deal_list.each do |deal| %>

  <div class="row">

    <div class="col-md-1">
      <a href="/deals/aaa/show">
        <img width="50" src="<%= deal.image_url %>">
      </a>
    </div>

    <div class="col-md-6">
      <h5>
        <a href="/deals/<%= deal.id %>/show"><%= deal.name %></a>
      </h5>

      <p><h6><span class="original_price">$<%= deal.original_price %></span>
        <span class="deal_price">$<%= deal.deal_price %></span></h6></p>
     </div>

     <div class="col-md-3">
      <h3>
        <p> <h6><%= deal.created_at %></h6> </p>
     </div>

     <div class="col-md-2">
      <h6>
      <p>aaaaaaaaaaaaaa</p></h6>
     </div>

</div>
<% end %>

