
<div class="page-header">
  <%= link_to "Add a New Deal", "/deals/new", :class => "btn btn-md btn-success pull-right" %>

<!-- # Today's hotdeals -->
<h3>Latest hotdeals</h3>
</div>

<% @deal_list.each do |deal| %>
  <div class="row container">
    <div class="col-md-4" style="height:200px">
      <h4><a href="/deals/<%= deal.id %>/show"><%= deal.name %></a></h4>
      <div class="col-md-3">
        <h5><img src="<%= deal.image_url %>" width="60"></h5>

        <p><span class="original_price">$<%= deal.original_price %></span></p>
        <p><span class="deal_price">$<%= deal.deal_price %></span></p>

        <button type="button"  "pull-right" class="btn btn-info">
          <%= link_to "Show details", "/deals/#{deal.link}" %>
        </button>
      </div>
      <div class="col-md-9">
        <h5><%= deal.description %></h5>
      </div>
    </div>
<% end %>
  </div>

<!-- # Recommended deals -->
<div class="page-header">
    <h3>Deals might fit you</h3>
</div>

<% @deal_list.each do |deal| %>
  <div class="row container">
    <div class="col-md-4" style="height:200px">
      <h4><a href="/deals/<%= deal.id %>/show"><%= deal.name %></a></h4>
      <div class="col-md-3">
        <h5><img src="<%= deal.image_url %>" width="60"></h5>

        <p><span class="original_price">$<%= deal.original_price %></span></p>
        <p><span class="deal_price">$<%= deal.deal_price %></span></p>

        <button type="button"  "pull-right" class="btn btn-info">
          <%= link_to "Show details", "#{deal.link}" %>
        </button>
      </div>
      <div class="col-md-9">
        <h5><%= deal.description %></h5>
      </div>
    </div>
<% end %>
  </div>


